.landing {
  height: calc(100vh - 55px);
  background-color: #f3eef6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  color: purple;
  font-size: 56px;
  margin-bottom: 72px;
}

.sub_header {
  color: purple;
  font-size: 32px;
}
